<?php
declare( strict_types = 1 );

$title = 'Delete album';
$url   = $this->url( 'album', [ 'action' => 'delete', 'id' => $album->getId() ] );

$this->headTitle( $title );
?>
<h1><?php echo $this->escapeHtml( $title ) ?></h1>

<p>
    Are you sure that you want to delete
    "<?php echo $this->escapeHtml( $album->getTitle() ) ?>" by
    "<?php echo $this->escapeHtml( $album->getArtist() ) ?>"?
</p>

<form action="<?php echo $url ?>" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="<?php echo (int) $album->getId() ?>"/>
        <input type="submit" class="btn btn-danger" name="del" value="Yes"/>
        <input type="submit" class="btn btn-success" name="del" value="No"/>
    </div>
</form>
